{% extends 'base.html' %}
{% block title %}Home page{% endblock%}
{% load crispy_forms_tags %}
{% block content %}
<h3 style = "text-align: center;">Albums Here</h3>
<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for i in result %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.musician.first_name}} {{i.musician.last_name}}</td>
        <td>{{i.musician.email}}</td>
        <td>{{i.rating}}</td>
        <td>{{i.musician.instrument_type}}</td>
        <td>{{i.album_name}}</td>
        <td>{{i.album_release_date}}</td>
        {% if request.user.is_authenticated %}
        <td> <a class="btn btn-info text-dark" href=" {% url 'edit_page' i.id %} ">Edit</a>
        <a class="btn btn-info text-dark" href=" {% url 'delete_page' i.id %} ">Delete</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}